- name: Create a jenkins job using basic authentication
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/test.xml') }}"
    name: test
    password: DevOps321
    url: http://172.31.13.27:8080
    user: admin

- name: Create a Multijob Pipeline
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/mbranch.xml') }}"
    name: testm
    password: DevOps321
    url: http://172.31.13.27:8080
    user: admin