#- name: Create a jenkins job using basic authentication
#  community.general.jenkins_job:
#    config: "{{ lookup('file', 'templates/test.xml') }}"
#    name: test
#    password: DevOps321
#    url: http://172.31.13.27:8080
#    user: admin

- name: Create a Folders
  community.general.jenkins_job:
    config: "{{ lookup('file', 'templates/folder.xml') }}"
    name: "{{item.name}}"
    password: DevOps321
    url: http://172.31.13.27:8080
    user: admin
  loop:
    - { name: "ci-pipelines" }



- name: Include Multi Branch task File
  ansible.builtin.include_tasks: mbranch.yml
  loop:
    - { name: "cart" }
    - { name: "catalogue" }
    - { name: "frontend" }
    - { name: "user" }
    - { name: "shipping" }
    - { name: "payment" }

