- name: Load job File from Template
  ansible.builtin.template:
    src: mbranch.xml
    dest: /tmp/mbranch.xml

- name: Create a Multijob Pipelines
  community.general.jenkins_job:
    config: "{{ lookup('file', '/tmp/mbranch.xml') }}"
    name: "ci-pipelines/{{item.name}}"
    password: DevOps321
    url: http://172.31.21.174:8080
    user: admin