- name: Load job File from Template
  ansible.builtin.template:
    src: sbranch.xml
    dest: /tmp/sbranch.xml

- name: Create a Single job Pipelines
  community.general.jenkins_job:
    config: "{{ lookup('file', '/tmp/sbranch.xml') }}"
    name: "terraform/{{item.name}}"
    password: DevOps321
    url: http://172.31.21.174:8080
    user: admin